<h1>Create a new post</h1>

  <form method="post" action="/create_post">

    <label>Title</label>
    <input name="title" type="text" />
    <br /> <br />

    <label>Body</label>
    <textarea name="body"></textarea>
    <br /> <br />

    <label>Author</label>
    <input name="author" type="text" />
    <br /> <br />

    <input type="submit" value="Create Post" />

  </form>
